.navContainer {
    width: clamp(700px, 100%, 1700px);
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    /* border-bottom: 2px solid var(--gray-300); */
}

.logoLink {
    text-decoration: none;
}